### /home/michael/.gitignore-boilerplates/Global/IntelliJ.gitignore

*.iml
*.ipr
*.iws
.idea/


### /home/michael/.gitignore-boilerplates/Java.gitignore

*.class

# Package Files #
*.jar
*.war
*.ear

# Maven

log/
target/
### /home/michael/.gitignore-boilerplates/Global/Eclipse.gitignore

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
eclipse-launch-profiles

# CDT-specific
.cproject

# PDT-specific
.buildpath


### /home/michael/.gitignore-boilerplates/Global/vim.gitignore

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### /home/michael/.gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


