<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:cxf="http://cxf.apache.org/core"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd
       http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <!--jaxws:endpoint
        electionid="bookShelfService"
        implementor="org.zepan.hackavote.BookService"
        address="/bookshelfservice"/-->

    <jaxrs:server id="apiservice" address="/v1">
        <jaxrs:serviceBeans>
            <ref bean="apiserviceclass"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jsonProvider"/>
        </jaxrs:providers>
        <jaxrs:features>
            <cxf:logging/>
        </jaxrs:features>
    </jaxrs:server>

    <bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>

    <bean id="apiserviceclass" class="org.zepan.hackavote.ApiService"/>

    <bean class="com.googlecode.objectify.spring.ObjectifyFactoryBean">
        <property name="classes">
            <list>
                <value>org.zepan.hackavote.domain.Election</value>
                <value>org.zepan.hackavote.domain.Ballot</value>
                <value>org.zepan.hackavote.domain.BallotEntry</value>
            </list>
        </property>
    </bean>


</beans>